<div class="navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="#">Property Backbone</a>

            <div class="nav nav-header">
		        <li class="home-menu"><a href="#">Home</a></li>
		        <li class="tolet-menu"><a href="#properties/tolet">Rent</a></li>
		        <li class="forsale-menu"><a href="#properties/tobuy">Buy</a></li>
        	</div>
            <div class="nav-collapse">

                <ul class="nav pull-right">
                    <li class="about-menu"><a href="#about">About</a></li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://documentcloud.github.com/backbone/" target="_blank">Backbone.js</a></li>
                            <li><a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a></li>
                            <li><a href="http://documentcloud.github.com/underscore/" target="_blank">Underscore.js</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">This App</li>
                            <li><a href="#" target="_blank">GitHub Repository</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
    	</div>
    </div>
	<!-- <div class="container">
		<div class="nav2 pull-right">
	        <li class="add-menu"><a href="#properties/add"><i class="icon-plus-sign icon-blwhite"></i>Add Property</a></li>
		</div>
	</div> -->
    
    <!-- <div class="container">
	    <div class="nav nav-tabs"> -->
	        <!-- <li class="nav add-menu"><a href="#properties/add"><i class="icon-edit icon-blwhite"></i>Add Property</a></li> -->
	        <!-- <li class="nav home-menu"><a href="#">Home</a></li> -->
	        <!-- <li class="tolet-menu"><a href="#properties/tolet">Rent</a></li>
	        <li class="forsale-menu"><a href="#properties/tobuy">Buy</a></li>
    	</div>
    </div> -->
</div>